<div class="container text-center"  fxLayout="column" fxLayoutAlign="center center">
  <h1>WELCOME TO</h1>
  <h1>ALMEGATEX Hospital</h1>
  <p>For consultation, you can directly register on the <span style="font-weight: bold; color:green">Input Visitor Details</span> button</p>
<div class="button-pack">
  <div fxLayout="column" fxLayoutGap="10px">
    <button mat-raised-button style="background: slateblue; padding: 10px; color: white;" (click)="changePage('request-queue-number')"> Print Queue Number </button>
    <button mat-raised-button style="background: green; padding: 10px; color: white;" (click)="changePage('input-visitor-details')"> Input Visitor Details </button>
    <button mat-raised-button style="background: orange; padding: 10px; color: white;" (click)="changePage('visitor-list')"> Visitor List </button>
  </div>
</div>
</div>